<!DOCTYPE html>
<html>
  <head>
    <title>Dox Rails App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tailwindcss/ui@latest/dist/tailwind-ui.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tailwindcss/forms@latest/dist/forms.min.css">
  </head>

  <body>
    <div class="max-w-lg m-auto mt-12 p-6 border rounded-lg">
      <%= yield %>
    </div>
  </body>
</html>
